nbproject

cache/!.sf
cache/*

config/doctrine/schema.yml
config/databases.yml

plugins/.channels
plugins/.registry
plugins/.depdb
plugins/.depdblock
plugins/.filemap
plugins/.lock

lib/filter/doctrine/base
lib/filter/doctrine/sfDoctrineGuardPlugin

lib/form/doctrine/base
lib/form/doctrine/sfDoctrineGuardPlugin

lib/model/doctrine/base
lib/model/doctrine/sfDoctrineGuardPlugin

web/sfDoctrinePlugin
